body {
  margin: 0;
  padding: 0;
  color: white;
}

#parent {
  margin: 130px 0px;
  /* border: 2px black solid; */
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#first {
  background-color: #dd850a;
  height: 420px;
  width: 19%;
  display: inline-block;
  margin-right: -5.03px;
  box-sizing: border-box;
  padding: 6%;
  border-radius: 3% 0% 0% 3%;
}

#second {
  background-color: #2d7a99;
  height: 420px;
  width: 19%;
  display: inline-block;
  margin-right: -5.28px;
  box-sizing: border-box;
  padding: 6%;
}

#third {
  background-color: #022e57;
  height: 420px;
  width: 19%;
  display: inline-block;
  box-sizing: border-box;
  padding: 6%;
  border-radius: 0% 3% 3% 0%;
}

button {
  background-color: white;
  margin-top: 40px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

#first button {
  color: #dd850a;
}

#second button {
  color: #2d7a99;
}

#third button {
  color: #022e57;
}

h1 {
  font-family: "Anton", sans-serif;
  font-weight: lighter;
  letter-spacing: 1.2px;
}

p {
  text-align: left;
  font-size: small;
}

img {
  height: 34px;
}

#parent div:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(1.1, 1.1);
}

@media screen and (max-width: 1350px) {
  #parent div{
    width: 20%
  }
  
}

@media screen and (max-width: 1125px) {
  #parent div{
    width: 23%
  }
  
}

@media screen and (max-width: 871px) {
  #parent div{
    width: 300px;
    display: block;
    margin: 0px auto;
    height: 340px;
  }
  
  #first{
    border-radius: 3% 3% 0% 0%;  
  }
  
  #third{
    border-radius: 0% 0% 3% 3% ;  
  }
}
